@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.bg {
  /* The image used */
  background-image: url(../img/bg.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginbox {
  width: 320px;
  height: auto;
  background: #212529;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #0069d9;
  color: #fff;
  font-size: 18 px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #fff;
  color: #0069d9;
}

.loginbox a {
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}
